@media (min-width:200px) and (max-width:600px) {
  [class*='col-']{
    width: 100%;
  }
  img{
    width: 80%;
    margin-left: 20%
  }
  p{
    margin-right: 10%;
    padding-top: -10%;
  }
  .menu2{
    display: none;
  }
  .barra{
    display: inline-block;
    width: 20%;
    padding-left: 18%;
    padding-top: 5%;
  }
  .stb{
    width: 70%;
  }

}
